.follow-body{
  height: calc(100% - 90px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.follow-box{
  width: 400px;
}

.follow-column{
  height: 100%;
  background-color: white;
  border-radius: 0 0 5px 5px;
  display: flex;
  justify-content: space-between;
  padding: 15px 60px;
}

.follow-name a{
  color: #f5a145;
  font-size: 20px;
  margin-left: 20px ;
}

.follow-btn{
  font-size: 15px;
  background-color: #329679;
  border: none;
  height: 30px;
  width: 100px;
  color: white;
  border-radius: 5px;
}

