.show-body{
  height: 100%;
  background-color: #ede8e4;
  padding: 40px 115px;
}

.user-info{
  height: 200px;
  display: flex;
  margin-bottom: 40px;
}

.green{
  width: 26px;
  border-radius: 5px 0 0 5px;
  background-color: #329679;
}

.show-contents{
  width: 350px;
  border-radius: 0 5px 5px 0;
  background-color:white;
  padding: 10px 20px;
}
.user-name{
  color: #f5a145;
  font-size: 25px;
}

.follow-count a{
  margin: 5px 0;
  font-size: 16px;
  color: black;
}

.steps{
  margin: 10px 0;
}

.steps a{
  font-size: 16px;
  color: black;
}

#active-step{
  width: 90px;
}

.btn-space{
  padding: 20px 0;
}

.form-step{
  margin: 10px 0 ;
}

.step-submit input{
  font-size: 15px;
  background-color: #329679;
  border: none;
  height: 30px;
  width: 100px;
  color: white;
  border-radius: 5px;
}