
.index-body{
  background-color: #ede8e4;
  padding: 20px 115px ;
}
.username{
  font-size: 20px;
  color: #f5a145;
  display: block;
  margin:15px 0;
}

.contents{
  height: 100%;
  width: 85vw;
  margin: 20px 0 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content_post{
  height: 350px;
  margin-bottom: 50px ;
  display: flex;
  background-color: white;
  border: none, solid;
  border-radius: 5px;
}

.post-image{
  height: 350px;
  width: 350px;
  object-fit: cover;
  border-radius: 5px 0 0 5px;
}

.post-delete a{
  padding-top:10px;
  color: black;
  writing-mode: vertical-rl;
}

.content_right_box{
  padding: 0 1px;
}
.content_text{
  margin-top: 10px;
  writing-mode: vertical-rl;
}

.name a{
  writing-mode: vertical-rl;
  color: #f5a145;
  margin-top: 10px;
}

.content_left_box_dummy{
  height: 350px;
  width: 350px;
  background-color: #ede8e4;
}

.content_right_box_dummy{
  width: 26px;
  background-color: #ede8e4;
}