.contents{
  padding: 20px 100px ;
}

.content_post{
  display: flex;
  height: 600px;
  margin: 20px 0;
}

.content_left_box{
  width: 600px;
  background-color: bisque;
  height: 600px;
  align-items: center;
}

.content_image{
  margin: 0 50px;
}

.content_right_box{
  justify-content: center;
  background-color: aqua;
  height: 600px;
  text-align: center;
}
