
.form-image input{
  margin: 10px 0;
}

.form-text input{
  margin: 10px 0;
}

.form-submit input{
  font-size: 17px;
  margin-top: 10px;
  background-color: #329679;
  border: none;
  height: 30px;
  width: 120px;
  color: white;
  border-radius: 10px;
}


