.new-post-body{
  background-color: #ede8e4;
  height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-contents{
  height: 350px;
  width: 350px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
}

h3{
  height: 35px;
  background-color: #329679;
  border-radius: 5px 5px 0 0;
  line-height: 35px;
  font-size: 20px;
  color: white;
  margin-bottom: 20px;
}

.container{
  padding: 40px;
}


.form-image input{
  margin: 10px 0;
}

.form-text input{
  margin: 10px 0;
}

.form-submit input{
  font-size: 17px;
  margin-top: 10px;
  background-color: #329679;
  border: none;
  height: 30px;
  width: 120px;
  color: white;
  border-radius: 10px;
}


